<div class="container">
  <div class="tittle text-center">
    <strong>Testimonios de nuestros clientes</strong>
  </div>

  <div class="container_carusel">
    <div class="button_card btn_left">
      <i class="bi bi-chevron-compact-left"></i>
    </div>

    <app-testimonial-card></app-testimonial-card>
    <div class="box_backgound">
      <div class="container_circle">
        <div class="circle selected"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <div class="button_card btn_rigth">
      <i class="bi bi-chevron-compact-right"></i>
    </div>
  </div>
</div>
