<div class="container_perfil">
  <div class="container_main_info">
    <div class="row">
      <div class="col-3 d-flex align-items-center justify-content-center">
        <div class="container_img_perfil">
          <img [src]="dogWalker.img" alt="" />
        </div>
      </div>
      <div class="col-9">
        <h1 class="color-naranja">
          <strong> {{ dogWalker.name }} </strong>
        </h1>
        <span class="color-naranja">{{ dogWalker.location }}</span>
        <div class="mt-5 d-flex justify-content-between">
          <div class="chip_detail">
            <p>Calificación:</p>
            <p>{{ dogWalker.calification }}</p>
          </div>

          <div class="chip_detail">
            <p>Precio:</p>
            <p>{{ dogWalker.prize | currency }}</p>
          </div>

          <div class="chip_detail">
            <p>Servicios:</p>
            <p>{{ dogWalker.service }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container_detail mt-5">
      <div class="row">
        <div class="col-6 container_detail_info">
          <h3 class="color-purpura">Información personal</h3>
          <p class="color-naranja">
            {{ dogWalker.descrip }}
          </p>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <div class="">
            <button type="button" class="button_secundary btn w-100 mb-4">
              {{ dogWalker.prize | currency }} por noche
            </button>

            <button type="button" class="button_secundary btn w-100">
              {{ dogWalker.prize | currency }} por noche
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <button
        type="button"
        class="button_secundary btn w-50"
        (click)="contac()"
      >
        Contactar
      </button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <div class="container_table">
    <h3 class="color-purpura text-center">Horarios disponibles</h3>

    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
          <th scope="col">Miercoles</th>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>
          <th scope="col">Sábado</th>
          <th scope="col">Domingo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of dogWalker.schedules">
          <td>{{ schedule.schedule }}</td>

          <td *ngFor="let day of schedule.days">
            <ng-container *ngIf="day.value; else notAvailable">
              <div class="chip_available"></div>
            </ng-container>
            <ng-template #notAvailable>
              <div class="chip_not_available"></div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
