<div class="container_navbar">
  <div class="row align-items-center">
    <div class="col-3">
      <img src="../../../../assets/images/logo.png" alt="logo" />
    </div>
    <div class="col-9">
      <div class="d-flex justify-content-end align-items-center">
        <a [routerLink]="['/']">Inicio</a>
        <div class="line-vertical"></div>
        <a [routerLink]="['/dog-walker/search']">Buscar paseador</a>

        <div class="line-vertical"></div>

        <ng-container *ngIf="showUser; else buttonLogin">
        
          <button
            (click)="logout()"
            type="button"
            class="button_primary btn"
          >
            Cerrar sesión
          </button>
        </ng-container>
        <ng-template #buttonLogin>
          <button
            [routerLink]="['/auth/login']"
            type="button"
            class="button_primary btn"
          >
            Iniciar sesión
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
