$color-purpura: #440099;
$color-naranja: #ff6a13;
$color-rojo: #ac145a;
$color-verde: #00855f;
$color-gris: #474747;
$color-azul-background: #eef3f8;
$color-blanco: #ffffff;
$color-gris-claro: #B6B6B6
