.button_primary {
  background-color: $color-purpura !important;
  color: $color-blanco !important;
  border-radius: 20px !important;
}

.button_secundary {
  background-color: $color-naranja !important;
  color: $color-blanco !important;
  border-radius: 20px !important;
}
