@import "src/assets/scss/modules/vars";

.cursor-pointer {
  cursor: pointer;
}

.modal-body {
  display: flex;
  justify-content: center;

  .container_image {
    width: 100%;
    display: flex;
    justify-content: center;
    .image_back {
      opacity: 0.5;
      height: 60vh;
    }
  }
  .content {
    position: absolute;
    padding: 0 30px;
    .container_mascots {
      .container_mascot {
        text-align: center;
        padding: 0 15px 0 0;
        cursor: pointer;
        .mascot {
          img {
            width: 80px;
            border-radius: 50%;
          }
        }

        .add-mascot {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: #d9d9d9;

          i {
            font-size: 30px;
            color: $color-gris;
          }
        }
      }
    }
  }
}
